/* Start Global Values */
@charset "UTF-8";

body {
  margin: 0;
  font-family: "outfit";
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1c2331;
  --main-color: #cd4301;
  --main-alt-color: #f6f6f6;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes landpage-moving {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-alt-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Start hr Style */
.hr-style {
  border: #cd4301 solid 1px;
  opacity: 0.5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* End hr Style */
/* Start Header */
.header .container {
  padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header .container img {
  width: 50px;
}

.header .container .links {
  width: 725px;
}

.header .container .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .links ul li {
  color: var(--main-alt-color);
}

.header .container .links ul li a {
  color: var(--main-alt-color);
  padding: 6px 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
  font-weight: 500;
}

.header .container .links ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container .links ul li a:hover::before {
  opacity: 0.5;
}

.header .container .links ul li:nth-child(2) a:before {
  opacity: 0.5;
}

.apply-header-button {
  font-size: 18px;
  border-radius: 10px;
  color: #f6f6f6;
  padding: 7px 15px;
  background: linear-gradient(45deg, #da4453, #89216b);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .header .container .links {
    width: 680px !important;
  }

  .header .container .links ul {
    flex-wrap: wrap;
  }

  .header .container .links ul li a {
    padding: 5px 7px;
    font-size: 14px;
  }

  .apply-header-button {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .header .container .links {
    width: auto !important;
    margin-top: 5px;
  }

  .header .container .links ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header .container .links ul li {
    margin-bottom: 10px;
  }

  .header .container .links ul li a {
    font-size: 15px;
  }

  .apply-header-button {
    font-size: 15px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  height: calc(50vh - 75px);
  position: relative;
}

.landing .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.landing .container .landing-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.landing .container .landing-left h2 {
  font-size: 120px;
  background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  .landing .container {
    width: 900px !important;
  }

  .landing .container::before {
    display: none;
  }

  .landing .container .landing-left h2 {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  .landing {
    height: calc(25vh - 75px);
    position: relative;
    margin: 150px 0 0px;
  }

  .landing .container::before {
    display: none;
  }

  .landing .container .landing-left h2 {
    font-size: 35px;
  }
}
/* End Landing */
/* Start Achievements */
.achievements {
  margin-bottom: 200px;
}

.achievements .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements .container .mid-line {
  height: 5425px;
  width: 4px;
  background-color: var(--main-alt-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}

.mid-line div {
  margin: 75px 0 0 0;
}

.achievements .container .mid-line div span a {
  color: #ccccff;
  text-decoration: underline !important;
}

.mid-line div::before {
  content: "25/11/2016";
  position: absolute;
  padding: 5px 7px;
  background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
  border-radius: 5px;
  color: var(--main-alt-color);
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.mid-line div:hover::before {
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.mid-line div:first-child {
  margin: 0;
}

.mid-line div:first-child::before {
  left: 100%;
}

.mid-line div:nth-child(2) {
  left: -41px;
}

.mid-line div:nth-child(2):before {
  content: "29/11/2016";
  right: 100%;
}

.mid-line div:nth-child(3):before {
  content: "04/12/2016";
  left: 100%;
}

.mid-line div:nth-child(4) {
  left: -124px;
}

.mid-line div:nth-child(4)::before {
  content: "04/12/2016";
  right: 100%;
}

.mid-line div:nth-child(5):before {
  content: "04/12/2016";
  left: 100%;
}

.mid-line div:nth-child(6) {
  left: -90px;
}

.mid-line div:nth-child(6):before {
  content: "24/12/2016";
  right: 100%;
}

.mid-line div:nth-child(7):before {
  content: " 27/12/2016";
  left: 100%;
}

.mid-line div:nth-child(8) {
  left: -144px;
}

.mid-line div:nth-child(8):before {
  content: "30/12/2016";
  right: 100%;
}

.mid-line div:nth-child(9):before {
  content: "12/01/2017";
  left: 110%;
}

.mid-line div:nth-child(10) {
  left: -26px;
}

.mid-line div:nth-child(10):before {
  content: "29/01/2017";
  right: 100%;
}

.mid-line div:nth-child(11):before {
  content: "30/01/2017";
  left: 100%;
}

.mid-line div:nth-child(12) {
  left: -70px;
}

.mid-line div:nth-child(12):before {
  content: "31/01/2017";
  right: 100%;
}

.mid-line div:nth-child(13):before {
  content: " 27/02/2017";
  left: 100%;
}

.mid-line div:nth-child(14) {
  left: -50px;
}

.mid-line div:nth-child(14):before {
  content: " 27/02/2017";
  right: 100%;
}

.mid-line div:nth-child(15):before {
  content: "20/03/2017";
  left: 110%;
}

.mid-line div:nth-child(16) {
  left: -42px;
}

.mid-line div:nth-child(16):before {
  content: "20/03/2017";
  right: 100%;
}

.mid-line div:nth-child(17):before {
  content: "07/05/2017";
  left: 115%;
}

.mid-line div:nth-child(18) {
  left: -50px;
}

.mid-line div:nth-child(18) {
  left: -50px;
}

.mid-line div:nth-child(18):before {
  content: "07/05/2017";
  right: 100%;
}

.mid-line div:nth-child(19):before {
  content: "07/05/2017";
  left: 100%;
}

.mid-line div:nth-child(20) {
  left: -145px;
}

.mid-line div:nth-child(20):before {
  content: "02/05/2017";
  right: 100%;
}

.mid-line div:nth-child(21):before {
  content: "06/05/2017";
  left: 100%;
}

.mid-line div:nth-child(22) {
  left: -185px;
}

.mid-line div:nth-child(22):before {
  content: "07/05/2017";
  right: 100%;
}

.mid-line div:nth-child(23):before {
  content: "03/05/2017";
  left: 100%;
}

.mid-line div:nth-child(24) {
  left: -160px;
}

.mid-line div:nth-child(24):before {
  content: "06/06/2017";
  right: 100%;
}

.mid-line div:nth-child(25):before {
  content: " 17/06/2017";
  left: 100%;
}

.mid-line div:nth-child(26) {
  left: -185px;
}

.mid-line div:nth-child(26):before {
  content: "18/06/2017";
  right: 100%;
}

.mid-line div:nth-child(27):before {
  content: "20/07/2017";
  left: 100%;
}

.mid-line div:nth-child(28) {
  left: -100px;
}

.mid-line div:nth-child(28):before {
  content: "20/07/2017";
  right: 100%;
}

.mid-line div:nth-child(29):before {
  content: "03/08/2017";
  left: 100%;
}

.mid-line div:nth-child(30) {
  left: -185px;
}

.mid-line div:nth-child(30):before {
  content: "13/08/2017";
  right: 100%;
}

.mid-line div:nth-child(31):before {
  content: "19/08/2017";
  left: 100%;
}

.mid-line div:nth-child(32) {
  left: -62px;
}

.mid-line div:nth-child(32):before {
  content: "18/11/2017";
  right: 100%;
}

.mid-line div:nth-child(33):before {
  content: " 30/01/2018";
  left: 100%;
}

.mid-line div:nth-child(34) {
  left: -162px;
}

.mid-line div:nth-child(34):before {
  content: "11/02/2018";
  left: 100%;
}

.mid-line div:nth-child(35):before {
  content: "12/02/2018";
  left: 100%;
}

.mid-line div:nth-child(36) {
  left: -184px;
}

.mid-line div:nth-child(36):before {
  content: " 31/08/2018";
  right: 100%;
}

.mid-line div:nth-child(37):before {
  content: " 31/08/2018";
  left: 100%;
}

.mid-line div:nth-child(38) {
  left: -132px;
}

.mid-line div:nth-child(38):before {
  content: "31/08/2018";
  right: 100%;
}

.mid-line div:nth-child(39):before {
  content: "15/10/2018";
  left: 100%;
}

.mid-line div:nth-child(40) {
  left: -177px;
}

.mid-line div:nth-child(40):before {
  content: "15/10/2018";
  right: 100%;
}

.mid-line div:nth-child(41):before {
  content: "15/10/2018";
  left: 100%;
}

.mid-line div:nth-child(42) {
  left: -185px;
}

.mid-line div:nth-child(42):before {
  content: "31/05/2019";
  right: 100%;
}

.mid-line div:nth-child(43):before {
  content: "16/06/2019";
  left: 100%;
}

.mid-line div:nth-child(44) {
  left: -52px;
}

.mid-line div:nth-child(44):before {
  content: "15/07/2019";
  right: 100%;
}

.mid-line div:nth-child(45):before {
  content: "15/07/2019";
  left: 100%;
}

.mid-line div:nth-child(46) {
  left: -63.5px;
}

.mid-line div:nth-child(46):before {
  content: "08/04/2020";
  right: 100%;
}

.mid-line div:nth-child(47):before {
  content: "11/04/2020";
  left: 100%;
}

.mid-line div:last-child {
  left: -176px;
}

.mid-line div:last-child::before {
  content: "06/07/2020";
  right: 100%;
}

.achievements .container .right-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 400px;
  left: 190.5px;
  top: 50px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: relative;
}

.achievements .container .right-box i {
  background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
  font-size: 25px;
  outline: var(--background) 5px solid;
}

.achievements .container .right-box span {
  color: var(--main-alt-color);
  font-size: 25px;
  width: fit-content;
}

.achievements .container .left-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 400px;
  top: 50px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: relative;
}

.achievements .container .left-box i {
  background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  outline: var(--background) 4px solid;
}

.achievements .container .left-box span {
  color: var(--main-alt-color);
  font-size: 25px;
  width: fit-content;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .achievements .container .mid-line {
    background: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .achievements .container .mid-line div {
    background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
    margin: 0 0 15px 0 !important;
    left: auto;
    right: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 300px;
    transform: none;
  }

  .achievements .container .mid-line div::before {
    display: none;
  }

  .achievements .container .mid-line div i {
    display: none;
  }

  .achievements .container .mid-line div span {
    font-size: 13px;
  }
}
/* End Achievements */
/* Start Footer */
.footer {
  padding: 100px 50px;
  background-color: #11151d;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer .left img {
  width: 200px;
}

.footer .left span,
.footer .left p {
  color: var(--main-alt-color);
  font-size: 18px;
}

.footer .left p a {
  font-family: "Merienda", cursive;
  font-weight: 600;
  background: linear-gradient(45deg, #8a2387, #e94057, #cd4301);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .left span:last-child {
  font-family: "Merienda", cursive;
  margin-top: 7px;
  font-size: 16px;
}

.footer .mid h4 {
  font-size: 40px;
  color: #fff;
  position: relative;
}

.footer .mid h4::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  bottom: -4px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .mid:hover h4::before {
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .mid .social-footer-links ul {
  margin-top: 25px;
}

.footer .mid .social-footer-links ul li a {
  color: var(--main-alt-color);
  font-size: 18px;
  font-weight: 500;
}

.footer .mid .social-footer-links ul li:not(:last-child) {
  margin-bottom: 15px;
}

.footer .mid .social-footer-links ul li a:hover {
  color: var(--main-color);
}

.footer .mid .social-footer-links ul li {
  position: relative;
  width: fit-content;
}

.footer .mid .social-footer-links ul li::before {
  content: "\f101";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  left: -15px;
  color: var(--main-alt-color);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .mid .social-footer-links ul li:hover::before {
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .right h4 {
  font-size: 40px;
  color: #fff;
  position: relative;
}

.footer .right h4::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  bottom: -4px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .right:hover h4::before {
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .right .contents-links ul {
  margin-top: 25px;
}

.footer .right .contents-links ul li a {
  color: var(--main-alt-color);
  font-size: 18px;
  font-weight: 500;
}

.footer .right .contents-links ul li:not(:last-child) {
  margin-bottom: 15px;
}

.footer .right .contents-links ul li a:hover {
  color: var(--main-color);
}

.footer .right .contents-links ul li {
  position: relative;
  width: fit-content;
}

.footer .right .contents-links ul li:before {
  content: "\f101";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  left: -15px;
  color: var(--main-alt-color);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .right .contents-links ul li:hover::before {
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  .left,
  .mid,
  .right {
    margin-bottom: 50px;
  }

  .left span,
  .left p {
    text-align: center;
  }

  .mid ul,
  .right ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* End Footer */
@media (max-width: 767px) {
  .container {
    width: 375px !important;
  }
}
